[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/corazzon/finance-data-analysis/blob/main/5.2%20%EC%97%85%EC%A2%85%20%ED%85%8C%EB%A7%88%20%EB%8D%B0%EC%9D%B4%ED%84%B0%20%EC%A0%84%EC%B2%98%EB%A6%AC-input.ipynb)

## 업종/테마 전처리 미션확인

* 팀장님이 우리 회사와 유사한 업종과 테마로 사업을 하고 있는 종목을 수집해서 분석해 달라는 미션을 주셨습니다.
* 코스피에서 해당 업종 혹은 테마의 시가총액이 가장 많은 종목을 찾아주세요.
* 해당 업종/테마의 거래량이 가장 많은 종목을 찾아주세요.
* 최근 52주 최고가에서 현재가 기준으로 가장 손실이 크게 난 종목은 어떤 종목일까요?
* 거래대금이 20위 안에 있는 코스피 종목 중에 "PER"가 가장 낮은 종목은 무엇일까요?


### 주요 업종/테마

* 실습에 참고해 보세요.
* 제약 업종 : https://finance.naver.com/sise/sise_group_detail.nhn?type=upjong&no=35
* 의료기기 : https://finance.naver.com/sise/sise_group_detail.nhn?type=theme&no=175
* 코로나19(덱사메타손) : https://finance.naver.com/sise/sise_group_detail.nhn?type=theme&no=442
* 제약업체 : https://finance.naver.com/sise/sise_group_detail.nhn?type=theme&no=172
* 바이오시밀러(복제 바이오의약품) : https://finance.naver.com/sise/sise_group_detail.nhn?type=theme&no=241

In [2]:
# 라이브러리 로드하기 : 데이터 분석을 위한 pandas, 수치계산을 위한 numpy
import pandas as pd
import numpy as np

In [3]:
# 4.업종/테마주 수집시에 저장해 두었던 csv 파일을 다시 읽어옵니다.
# 'upjong_no_35_연-월-일.csv'
# 종목코드는 꼭 문자형태로 불러옵니다. dtype={"종목코드":np.object}
file_name = "upjong_no_35_2021-01-09.csv"
raw = pd.read_csv(file_name, dtype={"종목코드":np.object})
raw.shape

(92, 48)

In [4]:
# 미리보기 합니다.
raw.head()

       종목명      현재가     전일비  ... 배당수익률  PERlEPS(2020.12)  PBRlBPS (2020.12)
0    삼아알미늄  30500.0  2350.0  ...   NaN               NaN                NaN
1    이녹스 *  31750.0  2200.0  ...   NaN               NaN                NaN
2   필옵틱스 *  11900.0   750.0  ...   NaN               NaN                NaN
3   이엔드디 *  32400.0  1800.0  ...   NaN               NaN                NaN
4  나라엠앤디 *   8880.0   410.0  ...   NaN               NaN                NaN

[5 rows x 48 columns]

## 전체 컬럼 출력하기

In [5]:
# 전체 컬럼이 출력되도록 display 설정을 변경합니다.
pd.options.display.max_columns = None

In [6]:
# 전체 컬럼이 보이는지 확인합니다.
raw

,종목명,현재가,전일비,등락률,매수호가,매도호가,거래량,거래대금,전일거래량,조회일자,종목명_전처리,종목코드,매출액,영업이익,당기순이익,영업이익률,순이익률,ROE(지배주주),부채비율,당좌비율,유보율,EPS(원),PER(배),BPS(원),PBR(배),주당배당금(원),시가배당률(%),배당성향(%),시가총액,시가총액순위,상장주식수,액면가l매매단위,외국인한도주식수(A),외국인보유주식수(B),외국인소진율(B/A),투자의견l목표주가,52주최고l최저,PERlEPS(2021.09),추정PERlEPS,PBRlBPS (2021.09),배당수익률l2020.12,동일업종 PER,동일업종 등락률,PERlEPS(2021.06),PBRlBPS (2021.06),배당수익률,PERlEPS(2020.12),PBRlBPS (2020.12)
0,삼아알미늄,30500.0,2350.0,+8.35%,30400.0,30600.0,1335228.0,41433.0,419787.0,20211119,삼아알미늄,006110,663.0,45.0,NaN,6.79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10855.0,2.59,NaN,NaN,NaN,"3,355 억원",코스피 461위,11000000,500원 l 1주,11000000,3626830,32.97%,N/A l N/A,"45,600 l 8,400",32.94배 l 926원,N/A l N/A,"2.82배 l 10,809원",0.33%,11.56배,+0.55%,NaN,NaN,NaN,NaN,NaN
1,이녹스 *,31750.0,2200.0,+7.45%,30800.0,30900.0,92278.0,2856.0,102319.0,20211119,이녹스,088390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2,969 억원",코스닥 329위,9350844,500원 l 1주,9350844,75906,0.81%,N/A l N/A,"32,750 l 8,250",NaN,N/A l N/A,NaN,NaN,7.13배,+4.85%,"18.23배 l 1,742원","2.00배 l 15,871원",NaN,NaN,NaN
2,필옵틱스 *,11900.0,750.0,+6.73%,11600.0,11700.0,217951.0,2537.0,123689.0,20211119,필옵틱스,161580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2,463 억원",코스닥 406위,20698505,500원 l 1주,20698505,183252,0.89%,N/A l N/A,"17,000 l 8,750",NaN,N/A l N/A,NaN,NaN,48.33배,+1.30%,N/A l -138원,"2.48배 l 4,793원",NaN,NaN,NaN
3,이엔드디 *,32400.0,1800.0,+5.88%,32250.0,32400.0,168303.0,5428.0,109811.0,20211119,이엔드디,101360,281.0,32.0,24.0,11.39,8.54,NaN,NaN,NaN,NaN,233.0,130.08,NaN,NaN,NaN,NaN,NaN,"3,344 억원",코스닥 291위,10320383,500원 l 1주,10320383,75542,0.73%,N/A l N/A,"44,700 l 23,250",NaN,N/A l N/A,NaN,NaN,14.55배,-0.60%,179.01배 l 181원,"4.80배 l 6,751원",NaN,NaN,NaN
4,나라엠앤디 *,8880.0,410.0,+4.84%,8810.0,8830.0,64342.0,566.0,54407.0,20211119,나라엠앤디,051490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1,261 억원",코스닥 782위,14200000,500원 l 1주,14200000,65051,0.46%,N/A l N/A,"14,650 l 8,390",NaN,N/A l N/A,NaN,0.56%,59.92배,-0.37%,48.00배 l 185원,"1.48배 l 6,000원",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,대주전자재료 *,114000.0,2700.0,-2.31%,115200.0,115400.0,274420.0,32072.0,606408.0,20211119,대주전자재료,078600,511.0,56.0,NaN,10.96,NaN,NaN,NaN,NaN,NaN,252.0,429.41,NaN,NaN,NaN,NaN,NaN,"1조 7,725 억원",코스닥 30위,15480593,500원 l 1주,15480593,2209877,14.28%,"4.00매수 l 120,000","120,600 l 33,950",NaN,N/A l N/A,NaN,0.04%,29.07배,+0.40%,159.25배 l 719원,"18.06배 l 6,340원",NaN,NaN,NaN
88,황금에스티,9160.0,240.0,-2.55%,9140.0,9160.0,96789.0,892.0,761625.0,20211119,황금에스티,032560,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1,466 억원",코스피 708위,16000000,500원 l 1주,16000000,223032,1.39%,N/A l N/A,"12,100 l 6,081",NaN,N/A l N/A,NaN,0.95%,11.56배,+0.54%,"7.11배 l 1,288원","0.52배 l 17,709원",NaN,NaN,NaN
89,스카이이앤엠 *,4495.0,120.0,-2.60%,4405.0,4410.0,139377.0,641.0,528788.0,20211119,스카이이앤엠,131100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,524 억원,코스닥 1332위,11642629,500원 l 1주,11642629,0,0.00%,N/A l N/A,"12,600 l 3,565","N/A l -1,558원",N/A l N/A,"1.66배 l 2,716원",NaN,14.55배,-0.61%,NaN,NaN,NaN,NaN,NaN
90,켐트로스 *,15650.0,550.0,-3.40%,15550.0,15600.0,424550.0,6660.0,1420293.0,20211119,켐트로스,220260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"4,143 억원",코스닥 221위,26558307,100원 l 1주,26558307,336912,1.27%,N/A l N/A,"19,000 l 5,390",NaN,N/A l N/A,NaN,NaN,14.55배,-0.67%,93.98배 l 166원,"8.54배 l 1,827원",NaN,NaN,NaN
91,지아이텍 *,25700.0,1200.0,-4.46%,25700.0,25750.0,114340.0,2974.0,1358686.0,20211119,지아이텍,382480,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2,019 억원",코스닥 508위,7871428,500원 l 1주,7871428,8670,0.11%,N/A l N/A,"38,500 l 22,500",NaN,N/A l N/A,NaN,NaN,72.16배,-0.61%,NaN,NaN,NaN,N/A l N/A,N/A l N/A

In [7]:
# DataFrame의 column만 따로 봅니다.
raw.columns

Index(['종목명', '현재가', '전일비', '등락률', '매수호가', '매도호가', '거래량', '거래대금', '전일거래량',
       '조회일자', '종목명_전처리', '종목코드', '매출액', '영업이익', '당기순이익', '영업이익률', '순이익률',
       'ROE(지배주주)', '부채비율', '당좌비율', '유보율', 'EPS(원)', 'PER(배)', 'BPS(원)',
       'PBR(배)', '주당배당금(원)', '시가배당률(%)', '배당성향(%)', '시가총액', '시가총액순위', '상장주식수',
       '액면가l매매단위', '외국인한도주식수(A)', '외국인보유주식수(B)', '외국인소진율(B/A)', '투자의견l목표주가',
       '52주최고l최저', 'PERlEPS(2021.09)', '추정PERlEPS', 'PBRlBPS (2021.09)',
       '배당수익률l2020.12', '동일업종 PER', '동일업종 등락률', 'PERlEPS(2021.06)',
       'PBRlBPS (2021.06)', '배당수익률', 'PERlEPS(2020.12)', 'PBRlBPS (2020.12)'],
      dtype='object')

## 결측치

In [8]:
True + False + True

2

In [9]:
# 결측치의 합계를 구합니다.
raw.isnull().sum()

종목명                   0
현재가                   0
전일비                   0
등락률                   0
매수호가                  0
매도호가                  0
거래량                   0
거래대금                  0
전일거래량                 0
조회일자                  0
종목명_전처리               0
종목코드                  0
매출액                  62
영업이익                 62
당기순이익                72
영업이익률                62
순이익률                 72
ROE(지배주주)            92
부채비율                 92
당좌비율                 92
유보율                  92
EPS(원)               65
PER(배)               65
BPS(원)               78
PBR(배)               78
주당배당금(원)             92
시가배당률(%)             92
배당성향(%)              92
시가총액                  0
시가총액순위                0
상장주식수                 0
액면가l매매단위              0
외국인한도주식수(A)           0
외국인보유주식수(B)           0
외국인소진율(B/A)           0
투자의견l목표주가             0
52주최고l최저              0
PERlEPS(2021.09)     66
추정PERlEPS             0
PBRlBPS (2021.09)    66
배당수익률l2020.12        44
동일업종 PER              0
동일업종 등락률              0
PERlEPS(2021.06)     31
PBRlBPS (2021.06)    31
배당수익률                92
PERlEPS(2020.12)     87
PBRlBPS (2020.12)    87
dtype: int64

In [10]:
# 결측치의 비율을 구합니다.
raw.isnull().mean() * 100

종목명                    0.000000
현재가                    0.000000
전일비                    0.000000
등락률                    0.000000
매수호가                   0.000000
매도호가                   0.000000
거래량                    0.000000
거래대금                   0.000000
전일거래량                  0.000000
조회일자                   0.000000
종목명_전처리                0.000000
종목코드                   0.000000
매출액                   67.391304
영업이익                  67.391304
당기순이익                 78.260870
영업이익률                 67.391304
순이익률                  78.260870
ROE(지배주주)            100.000000
부채비율                 100.000000
당좌비율                 100.000000
유보율                  100.000000
EPS(원)                70.652174
PER(배)                70.652174
BPS(원)                84.782609
PBR(배)                84.782609
주당배당금(원)             100.000000
시가배당률(%)             100.000000
배당성향(%)              100.000000
시가총액                   0.000000
시가총액순위                 0.000000
상장주식수                  0.000000
액면가l매매단위               0.000000
외국인한도주식수(A)            0.000000
외국인보유주식수(B)            0.000000
외국인소진율(B/A)            0.000000
투자의견l목표주가              0.000000
52주최고l최저               0.000000
PERlEPS(2021.09)      71.739130
추정PERlEPS              0.000000
PBRlBPS (2021.09)     71.739130
배당수익률l2020.12         47.826087
동일업종 PER               0.000000
동일업종 등락률               0.000000
PERlEPS(2021.06)      33.695652
PBRlBPS (2021.06)     33.695652
배당수익률                100.000000
PERlEPS(2020.12)      94.565217
PBRlBPS (2020.12)     94.565217
dtype: float64

In [11]:
# 결측치 제거 전에 행과 열의 수를 봅니다.
raw.shape

(92, 48)

In [12]:
# 전체가 결측치인 컬럼은 삭제 합니다.
df = raw.dropna(axis=1, how="all").copy()
df.shape

(92, 40)

In [13]:
# 삭제된 컬럼의 수를 계산해 봅니다.
raw.shape[1] - df.shape[1]

8

In [14]:
# info를 통해 결측치 데이터 타입을 확인합니다.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 40 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   종목명                92 non-null     object
 1   현재가                92 non-null     float64
 2   전일비                92 non-null     float64
 3   등락률                92 non-null     object
 4   매수호가               92 non-null     float64
 5   매도호가               92 non-null     float64
 6   거래량                92 non-null     float64
 7   거래대금               92 non-null     float64
 8   전일거래량              92 non-null     float64
 9   조회일자               92 non-null     int64
 10  종목명_전처리            92 non-null     object
 11  종목코드               92 non-null     object
 12  매출액                30 non-null     float64
 13  영업이익               30 non-null     float64
 14  당기순이익              20 non-null     float64
 15  영업이익률              30 non-null     float64
 16  순이익률               20 non-null     float64
 17  EPS(원)             27 non-null     float64
 18  PER(배)             27 non-null     float64
 19  BPS(원)             14 non-null     float64
 20  PBR(배)             14 non-null     float64
 21  시가총액               92 non-null     object
 22  시가총액순위             92 non-null     object
 23  상장주식수              92 non-null     int64
 24  액면가l매매단위           92 non-null     object
 25  외국인한도주식수(A)        92 non-null     int64
 26  외국인보유주식수(B)        92 non-null     int64
 27  외국인소진율(B/A)        92 non-null     object
 28  투자의견l목표주가          92 non-null     object
 29  52주최고l최저           92 non-null     object
 30  PERlEPS(2021.09)   26 non-null     object
 31  추정PERlEPS          92 non-null     object
 32  PBRlBPS (2021.09)  26 non-null     object
 33  배당수익률l2020.12      48 non-null     object
 34  동일업종 PER           92 non-null     object
 35  동일업종 등락률           92 non-null     object
 36  PERlEPS(2021.06)   61 non-null     object
 37  PBRlBPS (2021.06)  61 non-null     object
 38  PERlEPS(2020.12)   5 non-null      object
 39  PBRlBPS (2020.12)  5 non-null      object
dtypes: float64(16), int64(4), object(20)
memory usage: 28.9+ KB

## 파생변수 만들기와 텍스트 데이터 다루기
<img src="https://pandas.pydata.org/docs/_images/05_newcolumn_1.svg">

* 코스피/코스닥 구분 만들기
* 시가총액 순위 분리하기
* 액면가l매매단위
* 52주최고l최저

### 코스피/코스닥 컬럼 만들기

In [15]:
# "코스피/코스닥" 컬럼을 만듭니다.
#  * 는 코스닥 종목입니다. str.endswith 를 사용합니다.
df.loc[df["종목명"].str.endswith("*"), "코스피/코스닥"] = "코스닥"
df.loc[~df["종목명"].str.endswith("*"), "코스피/코스닥"] = "코스피"

In [16]:
df["코스피/코스닥"].tail()

87    코스닥
88    코스피
89    코스닥
90    코스닥
91    코스닥
Name: 코스피/코스닥, dtype: object

In [17]:
# "코스피/코스닥" 빈도수를 확인합니다.
df["코스피/코스닥"].value_counts()

코스닥    62
코스피    30
Name: 코스피/코스닥, dtype: int64

###  시가총액 수치형태로 만들기

In [90]:
# or를 의미하는 | 는 엔터키 위에 있는 키를 shift키를 누르면 나옵니다.
df["시가총액(억원)"] = df["시가총액"].str.replace("억원", "")
df["시가총액(억원)"] = df["시가총액(억원)"].str.replace("조|,", "")
df["시가총액(억원)"] = df["시가총액(억원)"].str.replace(" ", "")
df["시가총액(억원)"] = df["시가총액(억원)"].str.strip()
df["시가총액(억원)"] = df["시가총액(억원)"].astype(int)
df["시가총액(억원)"]

0      3355
1      2969
2      2463
3      3344
4      1261
      ...
87    17725
88     1466
89      524
90     4143
91     2019
Name: 시가총액(억원), Length: 92, dtype: int64

* [정규 표현식 - 위키백과, 우리 모두의 백과사전](https://ko.wikipedia.org/wiki/%EC%A0%95%EA%B7%9C_%ED%91%9C%ED%98%84%EC%8B%9D)

In [92]:
# 정규표현식을 사용한 숫자 추출
df["시가총액(억원)"] = df["시가총액"].str.replace("[^0-9]", "").astype(int)
df["시가총액(억원)"].head(1)

0    3355
Name: 시가총액(억원), dtype: int64

### 시가총액 순위 수치데이터로 만들기

In [93]:
# split을 사용하는 방법
# '시가총액순위(전처리)' column에서도 '위'를 빼고 수치데이터로 변경합니다.
df["시가총액순위(전처리)"] =  df["시가총액순위"].str.split(" ", expand=True)[1]
df["시가총액순위(전처리)"] = df["시가총액순위(전처리)"].str.replace("위", "").astype(int)
df["시가총액순위(전처리)"]

0      461
1      329
2      406
3      291
4      782
      ...
87      30
88     708
89    1332
90     221
91     508
Name: 시가총액순위(전처리), Length: 92, dtype: int64

In [94]:
# 정규표현식을 사용하는 방법도 있습니다. 
# 숫자를 제외한 문자는 빈문자""로 변경하도록 합니다.
df["시가총액순위(전처리)"] = df["시가총액순위"].str.replace("[^0-9]", "").astype(int)

### 52주최고l최저

In [98]:
# '52주최고l최저' => 52주최고, 52주최저 두 개의  컬럼으로 나누어 전처리 합니다.
df["52주최고"] = df["52주최고l최저"].str.split("  l  ", expand=True)[0]
df["52주최저"] = df["52주최고l최저"].str.split("  l  ", expand=True)[1]

In [99]:
# 일부 column들을 수치형 데이터로 바꿀수 있도록 ','와 같은 문자들을 없애고
# 새로운 column에 수치형 데이터로 입력합니다.
# 이런 수치형 데이터의 column들로 새로운 데이터 column들을 생성합니다.
df["52주최고"] = df["52주최고"].str.replace(",", "").astype(int)
df["52주최저"] = df["52주최저"].str.replace(",", "").astype(int)

In [100]:
# 52주차액: 52주최고 - 52주최저 
# 52주차액비율 : 52주최고 / 52주최저
df["52주차액"] = df["52주최고"] - df["52주최저"]
df["52주차액비율"] = df["52주최고"] / df["52주최저"]

In [101]:
# 현재-최고가 : 현재가 - 52주최고
# 현재/최고가비율 : 현재가 / 52주최고
df["현재-최고가"] = df["현재가"] - df["52주최고"]
df["현재/최고가비율"] = df["현재가"] / df["52주최고"]

In [102]:
# df[["종목명", "52주차액", "52주차액비율", "52주최고", "52주최저", "현재-최고가", "현재/최고가비율"]].head()
df[["종목명", "52주차액", "52주차액비율", "52주최고", "52주최저", "현재-최고가", "현재/최고가비율"]].head()

       종목명  52주차액   52주차액비율  52주최고  52주최저   현재-최고가  현재/최고가비율
0    삼아알미늄  37200  5.428571  45600   8400 -15100.0  0.668860
1    이녹스 *  24500  3.969697  32750   8250  -1000.0  0.969466
2   필옵틱스 *   8250  1.942857  17000   8750  -5100.0  0.700000
3   이엔드디 *  21450  1.922581  44700  23250 -12300.0  0.724832
4  나라엠앤디 *   6260  1.746126  14650   8390  -5770.0  0.606143

### 투자의견l목표주가 astype과 to_numeric

In [103]:
type(np.nan)

float

In [105]:
# '투자의견l목표주가' => 투자의견, 매수매도, 목표주가 컬럼으로 나누어 전처리 합니다.
df["목표주가"] = df["투자의견l목표주가"].str.split("  l  ", expand=True)[1]
df["목표주가"] = df["목표주가"].replace("N/A", np.nan).str.replace(",", "").astype(float)
df["목표주가"]

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
        ...
87    120000.0
88         NaN
89         NaN
90         NaN
91         NaN
Name: 목표주가, Length: 92, dtype: float64

In [106]:
df["투자의견"] = df["투자의견l목표주가"].str.split("  l  ", expand=True)[0]
df["투자의견"] = df["투자의견"].replace("N/A", np.nan)
df["매수매도"] = df["투자의견"].str.replace("[0-9.]", "")
df["투자의견"] = df["투자의견"].str.replace("[^0-9.]", "").astype(float)
df["투자의견"]

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
     ...
87    4.0
88    NaN
89    NaN
90    NaN
91    NaN
Name: 투자의견, Length: 92, dtype: float64

In [29]:
# df["투자의견"].astype(float)

In [107]:
# 투자의견의 수치만 pd.to_numeric 으로 숫자로 만들기
df["투자의견"] = pd.to_numeric(df["투자의견"])

In [108]:
# 투자의견 컬럼만 가져와서 describe로 기술통계 값을 봅니다.
df["투자의견"].describe()

count    31.000000
mean      3.952903
std       0.181442
min       3.000000
25%       4.000000
50%       4.000000
75%       4.000000
max       4.000000
Name: 투자의견, dtype: float64

### 데이터 타입 변경하기
* "동일업종 PER 컬럼"에서 "배" 문자를 제거하고 수치 변수로 변환해 주세요.
* 전처리 결괏값은 df["동일업종 PER(배)"]라는 컬럼에 담아주세요

In [109]:
# "동일업종 PER"
df["동일업종 PER"]

0     11.56배
1      7.13배
2     48.33배
3     14.55배
4     59.92배
       ...
87    29.07배
88    11.56배
89    14.55배
90    14.55배
91    72.16배
Name: 동일업종 PER, Length: 92, dtype: object

In [110]:
# "동일업종 PER 컬럼"에서 "배" 문자를 제거하고 수치 변수로 변환해 주세요.
df["동일업종 PER"] = df["동일업종 PER"].str.replace("배", "")

In [111]:
# str.replace, astype를 이용하면 쉽게 해결할 수 있습니다.
df["동일업종 PER"] = df["동일업종 PER"].astype(float)
df["동일업종 PER"]

0     11.56
1      7.13
2     48.33
3     14.55
4     59.92
      ...
87    29.07
88    11.56
89    14.55
90    14.55
91    72.16
Name: 동일업종 PER, Length: 92, dtype: float64

## filter와 melt로 여러 컬럼 전처리하기

### PER와 EPS 

#### PER 주가수익비율

* "이 주식은 비싼가, 주식시장이 거품인가" 판단하는 시금석
* PER = 주식가격 / 주당순이익(EPS)

물건을 살 때 값을 얼마나 줘야 좋은 건지 판단할 기준은 수없이 많다. 내게 얼마나 절실한가. 이 물건이 얼마나 유용하고 값어치가 있나. 혹은 어느 정도나 오래 사용할 수 있나. 물건에 대한 다른 사람들의 평판은 어떤가. 물건이 내게 주는 수익은 어느 정도인가…. 생각해보면 쉽게 떠오르는 이런저런 이유들은 어려운 주식투자나, 투자결정에도 그대로 적용된다.

이런 점에서 흔히 투자자들 사이에서 `퍼(PER)`로 불리는 **주가수익비율(Price earning ratio, 이하 PER)**은 어떤 회사의 주식가치, 더 나아가 전체 주식시장의 가치가 고평가 됐는지 가늠할 수 있는 유용한 잣대다. **PER은 현재 시장에서 매매되는 특정회사의 주식가격을 주당순이익으로 나눈 값을 말한다.** 한 주에 만 원하는 회사주식이 1년에 주당 1000원의 순이익을 낸다면? PER은 10이 된다. 이 수치가 회사의 가치를 어떻게 반영한다는 얘기일까?

* 출처 [네이버 지식백과]주가수익비율(PER) - "이 주식은 비싼가, 주식시장이 거품인가" 판단하는 시금석 (금융사전, 김태근)
* https://terms.naver.com/entry.nhn?docId=3571127&cid=58781&categoryId=58781

#### EPS 주당순이익

* EPS =  순이익(당기순이익) / 그 기업이 발행한 총 주식수

주당순이익(EPS)은 기업이 벌어들인 순이익(당기순이익)을 그 기업이 발행한 총 주식수로 나눈 값으로, 1주당 이익을 얼마나 창출하였느냐를 나타내는 지표이다. 즉 해당 회사가 1년간 올린 수익에 대한 주주의 몫을 나타내는 지표라 할 수 있다. 또한 주당순이익은 주가수익비율(PER)계산의 기초가 되기도 한다.

EPS가 높을수록 주식의 투자 가치는 높다고 볼 수 있으며, 그만큼 해당 회사의 경영실적이 양호하다는 뜻이다. 따라서 배당 여력도 많으므로 주가에 긍정적인 영향을 미친다.

EPS는 당기순이익 규모가 늘면 높아지게 되고, 전환사채의 주식전환이나 증자로 주식수가 많아지면 낮아지게 된다. 특히 최근 주식시장의 패턴이 기업의 수익성을 중시하는 쪽으로 바뀌면서 EPS의 크기가 중요시되고 있다.

* 출처 : [네이버 지식백과] 주당순이익(EPS) (시사상식사전, pmg 지식엔진연구소)
* https://terms.naver.com/entry.nhn?docId=74510&cid=43667&categoryId=43667

### filter 를 사용해 특정 텍스트가 들어가는 컬럼 찾기
* [정규 표현식 - 위키백과, 우리 모두의 백과사전](https://ko.wikipedia.org/wiki/%EC%A0%95%EA%B7%9C_%ED%91%9C%ED%98%84%EC%8B%9D)

In [112]:
# df.filter(regex=)를 통해 "PERlEPS" 가 들어가는 컬럼만 가져옵니다.
# 특정 컬럼을 가져오고 종목코드를 추가해 줍니다.
df_per_eps = df.filter(regex="^PERlEPS").copy()
df_per_eps["종목코드"] = df["종목코드"]
df_per_eps

   PERlEPS(2021.09)   PERlEPS(2021.06) PERlEPS(2020.12)    종목코드
0   32.94배  l  926원                NaN              NaN  006110
1               NaN  18.23배  l  1,742원              NaN  088390
2               NaN      N/A  l  -138원              NaN  161580
3               NaN   179.01배  l  181원              NaN  101360
4               NaN    48.00배  l  185원              NaN  051490
..              ...                ...              ...     ...
87              NaN   159.25배  l  719원              NaN  078600
88              NaN   7.11배  l  1,288원              NaN  032560
89  N/A  l  -1,558원                NaN              NaN  131100
90              NaN    93.98배  l  166원              NaN  220260
91              NaN                NaN      N/A  l  N/A  382480

[92 rows x 4 columns]

### melt로 tidy data 만들기

<img src="https://pandas.pydata.org/docs/_images/reshaping_melt.png" width="600">

* https://pandas.pydata.org/docs/user_guide/reshaping.html#reshaping-by-melt
* [Tidy Data 란?](https://vita.had.co.nz/papers/tidy-data.pdf)

In [113]:
# melt를 통해 종목코드를 녹여냅니다.
df_per_eps_melt = df_per_eps.melt(id_vars="종목코드")
df_per_eps_melt

       종목코드          variable            value
0    006110  PERlEPS(2021.09)  32.94배  l  926원
1    088390  PERlEPS(2021.09)              NaN
2    161580  PERlEPS(2021.09)              NaN
3    101360  PERlEPS(2021.09)              NaN
4    051490  PERlEPS(2021.09)              NaN
..      ...               ...              ...
271  078600  PERlEPS(2020.12)              NaN
272  032560  PERlEPS(2020.12)              NaN
273  131100  PERlEPS(2020.12)              NaN
274  220260  PERlEPS(2020.12)              NaN
275  382480  PERlEPS(2020.12)      N/A  l  N/A

[276 rows x 3 columns]

In [114]:
# 종목코드별로 value_counts를 통해  PERlEPS 행이 몇 개인지 봅니다.
df_per_eps_melt["종목코드"].value_counts()

299030    3
089980    3
357780    3
002710    3
161580    3
         ..
226440    3
096630    3
093370    3
336370    3
267320    3
Name: 종목코드, Length: 92, dtype: int64

### 결측치 데이터 제거
<img src="https://pandas.pydata.org/docs/_images/03_subset_rows.svg">

In [115]:
# PERlEPS 데이터프레임에서 결측치 데이터 제거
# 여기에서 기간별로 생긴 행은 이전 실습에서 concat으로 데이터를 합칠 때 
# 컬럼의 이름이 다르면 새로운 컬럼으로 생성하기 때문입니다.
df_pe = df_per_eps_melt.dropna()
df_pe

       종목코드          variable               value
0    006110  PERlEPS(2021.09)     32.94배  l  926원
8    002710  PERlEPS(2021.09)     16.79배  l  452원
11   011500  PERlEPS(2021.09)   14.72배  l  1,213원
12   137400  PERlEPS(2021.09)   22.19배  l  2,389원
15   110990  PERlEPS(2021.09)        N/A  l  -17원
..      ...               ...                 ...
207  299030  PERlEPS(2020.12)     N/A  l  -5,724원
216  348370  PERlEPS(2020.12)   2,503.85배  l  52원
241  361610  PERlEPS(2020.12)  107.82배  l  1,521원
263  382840  PERlEPS(2020.12)         N/A  l  N/A
275  382480  PERlEPS(2020.12)         N/A  l  N/A

[92 rows x 3 columns]

In [116]:
# variable 컬럼명을 rename을 통해 "PERlEPS"로 변경합니다.
df_pe = df_pe.rename(columns={"variable": "PERlEPS"})
df_pe

       종목코드           PERlEPS               value
0    006110  PERlEPS(2021.09)     32.94배  l  926원
8    002710  PERlEPS(2021.09)     16.79배  l  452원
11   011500  PERlEPS(2021.09)   14.72배  l  1,213원
12   137400  PERlEPS(2021.09)   22.19배  l  2,389원
15   110990  PERlEPS(2021.09)        N/A  l  -17원
..      ...               ...                 ...
207  299030  PERlEPS(2020.12)     N/A  l  -5,724원
216  348370  PERlEPS(2020.12)   2,503.85배  l  52원
241  361610  PERlEPS(2020.12)  107.82배  l  1,521원
263  382840  PERlEPS(2020.12)         N/A  l  N/A
275  382480  PERlEPS(2020.12)         N/A  l  N/A

[92 rows x 3 columns]

In [117]:
# df_pe에서 PER, EPS 컬럼을 따로 생성합니다.
df_pe["PER"] = df_pe["value"].str.split("  l  ", expand=True)[0]
df_pe["EPS"] = df_pe["value"].str.split("  l  ", expand=True)[1]

In [118]:
# PER, EPS 컬럼의 N/A 값을 결측치로 만듭니다.
df_pe["PER"] = df_pe["PER"].replace("N/A", np.nan)
df_pe["EPS"] = df_pe["EPS"].replace("N/A", np.nan)

In [119]:
#  PER, EPS 값 중 둘 다 결측치는 notnull 혹은 isnull을 사용해 제거합니다.
df_pe = df_pe[df_pe["PER"].notnull() | df_pe["EPS"].notnull()].copy()

In [120]:
# PER(배) 컬럼을 만들고 수치데이터 형태로 변환합니다.
df_pe["PER(배)"] = df_pe["PER"].str.replace("[^0-9.]", "").astype(float)

In [121]:
# EPS(원) 컬럼을 만들고 수치데이터 형태로 변환합니다.
df_pe["EPS(원)"] = df_pe["EPS"].str.replace("원|,", "").astype(int)

In [122]:
# 필요한 컬럼만 따로 가져옵니다.
df_pe = df_pe[["종목코드", "PERlEPS", "PER(배)", "EPS(원)"]].copy()
df_pe

       종목코드           PERlEPS   PER(배)  EPS(원)
0    006110  PERlEPS(2021.09)    32.94     926
8    002710  PERlEPS(2021.09)    16.79     452
11   011500  PERlEPS(2021.09)    14.72    1213
12   137400  PERlEPS(2021.09)    22.19    2389
15   110990  PERlEPS(2021.09)      NaN     -17
..      ...               ...      ...     ...
180  032560  PERlEPS(2021.06)     7.11    1288
182  220260  PERlEPS(2021.06)    93.98     166
207  299030  PERlEPS(2020.12)      NaN   -5724
216  348370  PERlEPS(2020.12)  2503.85      52
241  361610  PERlEPS(2020.12)   107.82    1521

[90 rows x 4 columns]

### 중복 데이터 확인

In [123]:
# "종목코드"기준으로 중복된 데이터가 있는지 찾습니다.
df_pe[df_pe.duplicated("종목코드")]

Empty DataFrame
Columns: [종목코드, PERlEPS, PER(배), EPS(원)]
Index: []

In [124]:
# 만약 중복데이터가 있다면 다음과 같은 방법으로 제거합니다.
# 추출했던 원래 데이터프레임 df와 다시 merge 로 합치기 위해 
# drop_duplicates 를 사용해 종목코드가 중복되는 행은 제거합니다.
# "종목코드", "PERlEPS" 로 정렬을 하고 
# drop_duplicates 로 제거시 keep="first" 로 위에 있는 데이터를 남깁니다.
df_pe = df_pe.sort_values(["종목코드", "PERlEPS"])
df_pe = df_pe.drop_duplicates(["종목코드", "PERlEPS"])
df_pe

       종목코드           PERlEPS   PER(배)  EPS(원)
148  001390  PERlEPS(2021.06)     5.13    6535
98   001530  PERlEPS(2021.06)    26.53   11365
42   001570  PERlEPS(2021.09)   228.64      22
106  001780  PERlEPS(2021.06)      NaN    -131
8    002710  PERlEPS(2021.09)    16.79     452
..      ...               ...      ...     ...
143  336370  PERlEPS(2021.06)      NaN    -384
46   340930  PERlEPS(2021.09)      NaN    -247
216  348370  PERlEPS(2020.12)  2503.85      52
120  357780  PERlEPS(2021.06)    13.71   17328
241  361610  PERlEPS(2020.12)   107.82    1521

[90 rows x 4 columns]

In [125]:
# 종목코드값 기준으로 중복데이터를 확인합니다.
df_pe["종목코드"].value_counts().unique()

array([1])

### PBRlBPS 전처리


#### PBR(주가순자산비율, price-to-book ratio, P/B ratio)

* PBR = 주가/BPS(주당순자산가치)
* 주가는 그 회사의 종합적인 평가이므로 주주 소유분을 초과한 부분은 모두 그 회사의 잠재적인 프리미엄이 되기 때문에 **경영의 종합력이 뛰어나면 뛰어날수록 배율이 높아진다**고 할 수 있다. 일반적으로 이 지표는 PER과 함께 사용되는데, 이는 주가순자산배율이 그 회사를 정적인 상태 즉 스토크(stock)면에서 보고 있는데 반하여 주가수익률은 동적인 상태 즉 플로(flow)면에서 보고 있으므로 두 가지 지표가 서로 보완관계에 있다.

* 다만 이 주가 순자산배율에도 **주주소유분이 장부가격에 의해 계산되고 있어 반드시 정확하다고 할 수 없고 또 그 계산기준이 전기의 결산기가 된다는 등의 난점이 있다.**
* 출처 : [주가순자산비율 - 위키백과, 우리 모두의 백과사전](https://ko.wikipedia.org/wiki/%EC%A3%BC%EA%B0%80%EC%88%9C%EC%9E%90%EC%82%B0%EB%B9%84%EC%9C%A8)

#### BPS(주당순자산가치, Book-value Per Share)

* 주당순자산가치 = 기업의 순자산/ 발행 주식수
* 주당순자산가치는, '청산가치' 라고도 불린다. 그 이유는 현재 시점에서 기업의 활동을 중단시키고 그 부를 모든 주주들에게 나눠줄 경우 한주당 얼마씩이 돌아가는가를 나타내는 수치이기 때문이다. 보통 주당순자산가치라는 말은 잘 쓰지 않고 BPS라고 하므로 이하 BPS로 쓴다.

* BPS가 높다는 것은 자기자본의 비중이 크거나 회사 가치가 높다는 것을 나타낸다. BPS에는 주가 정보가 고려되어 있지 않으므로, 이 회사의 주가가 자산 가치에 비해 얼마나 저평가 혹은 고평가되어 있는지 판단하기 위해 PBR이라는 값을 사용한다.

* PBR 값은 BPS 값으로 현재 주가를 나눈 것이다. BPS가 1만원인 위 사례에서 주가가 5,000원이라면 PBR은 0.5가 되고, 주가가 20,000원이라면 PBR은 2가 된다. 즉 전자의 경우 주가는 실제의 자산에 비해 저평가되어 되어 있는 것이고, 후자의 경우 주가는 실제 자산에 비해 고평가 되어 있는 것이다.

* 출처 : [주당순자산가치 - 위키백과, 우리 모두의 백과사전](https://ko.wikipedia.org/wiki/%EC%A3%BC%EB%8B%B9%EC%88%9C%EC%9E%90%EC%82%B0%EA%B0%80%EC%B9%98)

In [126]:
# filter를 사용해 PBRlBPS 컬럼 가져옵니다.
# 종목코드 추가합니다.
df_pbr_bps = df.filter(regex="PBRlBPS").copy()
df_pbr_bps["종목코드"] = df["종목코드"]
df_pbr_bps

    PBRlBPS (2021.09)  PBRlBPS (2021.06) PBRlBPS (2020.12)    종목코드
0   2.82배  l  10,809원                NaN               NaN  006110
1                 NaN  2.00배  l  15,871원               NaN  088390
2                 NaN   2.48배  l  4,793원               NaN  161580
3                 NaN   4.80배  l  6,751원               NaN  101360
4                 NaN   1.48배  l  6,000원               NaN  051490
..                ...                ...               ...     ...
87                NaN  18.06배  l  6,340원               NaN  078600
88                NaN  0.52배  l  17,709원               NaN  032560
89   1.66배  l  2,716원                NaN               NaN  131100
90                NaN   8.54배  l  1,827원               NaN  220260
91                NaN                NaN       N/A  l  N/A  382480

[92 rows x 4 columns]

In [127]:
# melt로 tidy data 만듭니다.
df_pbr_bps_melt = df_pbr_bps.melt(id_vars="종목코드").copy()
df_pbr_bps_melt

       종목코드           variable              value
0    006110  PBRlBPS (2021.09)  2.82배  l  10,809원
1    088390  PBRlBPS (2021.09)                NaN
2    161580  PBRlBPS (2021.09)                NaN
3    101360  PBRlBPS (2021.09)                NaN
4    051490  PBRlBPS (2021.09)                NaN
..      ...                ...                ...
271  078600  PBRlBPS (2020.12)                NaN
272  032560  PBRlBPS (2020.12)                NaN
273  131100  PBRlBPS (2020.12)                NaN
274  220260  PBRlBPS (2020.12)                NaN
275  382480  PBRlBPS (2020.12)        N/A  l  N/A

[276 rows x 3 columns]

In [128]:
# 결측치를 제거합니다.
df_pb = df_pbr_bps_melt.dropna()
df_pb

       종목코드           variable               value
0    006110  PBRlBPS (2021.09)   2.82배  l  10,809원
8    002710  PBRlBPS (2021.09)    1.27배  l  5,996원
11   011500  PBRlBPS (2021.09)    1.91배  l  9,351원
12   137400  PBRlBPS (2021.09)    6.76배  l  7,839원
15   110990  PBRlBPS (2021.09)    1.13배  l  9,095원
..      ...                ...                 ...
207  299030  PBRlBPS (2020.12)    6.94배  l  7,322원
216  348370  PBRlBPS (2020.12)  12.09배  l  10,772원
241  361610  PBRlBPS (2020.12)   5.36배  l  30,619원
263  382840  PBRlBPS (2020.12)         N/A  l  N/A
275  382480  PBRlBPS (2020.12)         N/A  l  N/A

[92 rows x 3 columns]

In [129]:
# variable 컬럼명을 "PBRlBPS"로 변경합니다.
df_pb = df_pb.rename(columns={"variable":"PBRlBPS"})
df_pb

       종목코드            PBRlBPS               value
0    006110  PBRlBPS (2021.09)   2.82배  l  10,809원
8    002710  PBRlBPS (2021.09)    1.27배  l  5,996원
11   011500  PBRlBPS (2021.09)    1.91배  l  9,351원
12   137400  PBRlBPS (2021.09)    6.76배  l  7,839원
15   110990  PBRlBPS (2021.09)    1.13배  l  9,095원
..      ...                ...                 ...
207  299030  PBRlBPS (2020.12)    6.94배  l  7,322원
216  348370  PBRlBPS (2020.12)  12.09배  l  10,772원
241  361610  PBRlBPS (2020.12)   5.36배  l  30,619원
263  382840  PBRlBPS (2020.12)         N/A  l  N/A
275  382480  PBRlBPS (2020.12)         N/A  l  N/A

[92 rows x 3 columns]

In [130]:
# PBR, BPS 컬럼을 만듭니다.
df_pb["PBR"] = df_pb["value"].str.split("  l  ", expand=True)[0]
df_pb["BPS"] = df_pb["value"].str.split("  l  ", expand=True)[1]

In [131]:
# N/A 값(문자) np.nan(결측치)로 변환합니다.
df_pb["PBR"] = df_pb["PBR"].replace("N/A", np.nan)
df_pb["BPS"] = df_pb["BPS"].replace("N/A", np.nan)

In [132]:
# PBR(배), BPS(원) 컬럼을 만듭니다.
df_pb["PBR(배)"] = df_pb["PBR"].str.replace("배", "").astype(float)
df_pb["BPS(원)"] = df_pb["BPS"].str.replace("원|,", "").astype(float)

In [133]:
# 종목코드 기준 value_counts 를 구해 중복값이 있는지 확인합니다.
df_pb["종목코드"].value_counts().unique()

array([1])

In [134]:
# "종목코드","PBRlBPS" 로 중복값이 있는지 확인합니다.
# 만약 중복값이 있다면 drop_duplicates 로 삭제합니다.
df_pb[df_pb.duplicated(["종목코드"])]

Empty DataFrame
Columns: [종목코드, PBRlBPS, value, PBR, BPS, PBR(배), BPS(원)]
Index: []

In [135]:
# 사용할 컬럼만 따로 지정해줍니다.
df_pb = df_pb[["종목코드", "PBRlBPS", "PBR(배)", "BPS(원)"]].copy()
df_pb

       종목코드            PBRlBPS  PBR(배)   BPS(원)
0    006110  PBRlBPS (2021.09)    2.82  10809.0
8    002710  PBRlBPS (2021.09)    1.27   5996.0
11   011500  PBRlBPS (2021.09)    1.91   9351.0
12   137400  PBRlBPS (2021.09)    6.76   7839.0
15   110990  PBRlBPS (2021.09)    1.13   9095.0
..      ...                ...     ...      ...
207  299030  PBRlBPS (2020.12)    6.94   7322.0
216  348370  PBRlBPS (2020.12)   12.09  10772.0
241  361610  PBRlBPS (2020.12)    5.36  30619.0
263  382840  PBRlBPS (2020.12)     NaN      NaN
275  382480  PBRlBPS (2020.12)     NaN      NaN

[92 rows x 4 columns]

### 배당 수익률 전처리

In [136]:
# PER|EPS 전처리와 마찬가리로 배당수익률 데이터를 전처리 합니다.
# df.filter(regex=) 로 배당수익률이 들어가는 컬럼만 찾고 종목코드를 추가 합니다.
df_income = df.filter(regex="배당수익률").copy()

In [137]:
# 추후 병합을 위해 데이터프레임에 종목코드를 추가합니다.
df_income["종목코드"] = df["종목코드"]
df_income

   배당수익률l2020.12    종목코드
0          0.33%  006110
1            NaN  088390
2            NaN  161580
3            NaN  101360
4          0.56%  051490
..           ...     ...
87         0.04%  078600
88         0.95%  032560
89           NaN  131100
90           NaN  220260
91           NaN  382480

[92 rows x 2 columns]

In [138]:
# melt 로 여러 컬럼의 종목코드를 행으로 녹이고 결측치를 dropna 로 제거합니다.
df_in = df_income.melt(id_vars="종목코드").copy()
df_in = df_in.dropna()
df_in

      종목코드       variable  value
0   006110  배당수익률l2020.12  0.33%
4   051490  배당수익률l2020.12  0.56%
5   004490  배당수익률l2020.12  0.60%
6   001530  배당수익률l2020.12  0.49%
7   011790  배당수익률l2020.12  0.53%
8   002710  배당수익률l2020.12  0.19%
10  065350  배당수익률l2020.12  0.67%
11  011500  배당수익률l2020.12  1.01%
12  137400  배당수익률l2020.12  0.19%
16  091580  배당수익률l2020.12  0.41%
17  084850  배당수익률l2020.12  0.44%
18  083930  배당수익률l2020.12  2.70%
20  033160  배당수익률l2020.12  0.64%
21  005490  배당수익률l2020.12  2.86%
24  014820  배당수익률l2020.12  1.08%
25  243840  배당수익률l2020.12  0.49%
28  357780  배당수익률l2020.12  0.82%
30  265560  배당수익률l2020.12  0.14%
34  278280  배당수익률l2020.12  0.08%
35  093920  배당수익률l2020.12  5.16%
37  006650  배당수익률l2020.12  1.67%
43  003670  배당수익률l2020.12  0.20%
44  282880  배당수익률l2020.12  0.63%
45  053080  배당수익률l2020.12  1.94%
48  010130  배당수익률l2020.12  3.06%
50  008730  배당수익률l2020.12  2.38%
51  336370  배당수익률l2020.12  0.01%
52  055490  배당수익률l2020.12  0.63%
53  054090  배당수익률l2020.12  2.10%
54  014680  배당수익률l2020.12  0.57%
56  001390  배당수익률l2020.12  1.19%
58  054210  배당수익률l2020.12  0.38%
59  086520  배당수익률l2020.12  0.20%
60  161000  배당수익률l2020.12  3.02%
62  089980  배당수익률l2020.12  0.25%
64  006400  배당수익률l2020.12  0.13%
67  137940  배당수익률l2020.12  1.21%
68  251630  배당수익률l2020.12  1.17%
72  066970  배당수익률l2020.12  0.02%
73  121600  배당수익률l2020.12  0.15%
75  259630  배당수익률l2020.12  0.73%
76  247540  배당수익률l2020.12  0.08%
78  178920  배당수익률l2020.12  1.44%
81  075970  배당수익률l2020.12  1.71%
82  051910  배당수익률l2020.12  1.31%
83  020150  배당수익률l2020.12  0.16%
87  078600  배당수익률l2020.12  0.04%
88  032560  배당수익률l2020.12  0.95%

In [139]:
# 컬럼명을 "종목코드", "배당수익률기간", "배당수익률" 로 변경합니다.
df_in.columns = ["종목코드", "배당수익률기간", "배당수익률"]
df_in

      종목코드        배당수익률기간  배당수익률
0   006110  배당수익률l2020.12  0.33%
4   051490  배당수익률l2020.12  0.56%
5   004490  배당수익률l2020.12  0.60%
6   001530  배당수익률l2020.12  0.49%
7   011790  배당수익률l2020.12  0.53%
8   002710  배당수익률l2020.12  0.19%
10  065350  배당수익률l2020.12  0.67%
11  011500  배당수익률l2020.12  1.01%
12  137400  배당수익률l2020.12  0.19%
16  091580  배당수익률l2020.12  0.41%
17  084850  배당수익률l2020.12  0.44%
18  083930  배당수익률l2020.12  2.70%
20  033160  배당수익률l2020.12  0.64%
21  005490  배당수익률l2020.12  2.86%
24  014820  배당수익률l2020.12  1.08%
25  243840  배당수익률l2020.12  0.49%
28  357780  배당수익률l2020.12  0.82%
30  265560  배당수익률l2020.12  0.14%
34  278280  배당수익률l2020.12  0.08%
35  093920  배당수익률l2020.12  5.16%
37  006650  배당수익률l2020.12  1.67%
43  003670  배당수익률l2020.12  0.20%
44  282880  배당수익률l2020.12  0.63%
45  053080  배당수익률l2020.12  1.94%
48  010130  배당수익률l2020.12  3.06%
50  008730  배당수익률l2020.12  2.38%
51  336370  배당수익률l2020.12  0.01%
52  055490  배당수익률l2020.12  0.63%
53  054090  배당수익률l2020.12  2.10%
54  014680  배당수익률l2020.12  0.57%
56  001390  배당수익률l2020.12  1.19%
58  054210  배당수익률l2020.12  0.38%
59  086520  배당수익률l2020.12  0.20%
60  161000  배당수익률l2020.12  3.02%
62  089980  배당수익률l2020.12  0.25%
64  006400  배당수익률l2020.12  0.13%
67  137940  배당수익률l2020.12  1.21%
68  251630  배당수익률l2020.12  1.17%
72  066970  배당수익률l2020.12  0.02%
73  121600  배당수익률l2020.12  0.15%
75  259630  배당수익률l2020.12  0.73%
76  247540  배당수익률l2020.12  0.08%
78  178920  배당수익률l2020.12  1.44%
81  075970  배당수익률l2020.12  1.71%
82  051910  배당수익률l2020.12  1.31%
83  020150  배당수익률l2020.12  0.16%
87  078600  배당수익률l2020.12  0.04%
88  032560  배당수익률l2020.12  0.95%

In [140]:
# 배당수익률% 컬럼을 만들어 전처리 합니다.
df_in["배당수익률%"] = df_in["배당수익률"].str.replace("%", "").astype(float)

In [141]:
# 종목코드가 종목당 2개 이상 있는 값이 있는지 확인합니다.
# 2개 이상 있다면 merge 에서 어떤 값을 사용할지 고려해야 합니다.
df_in["종목코드"].value_counts().unique()

array([1])

In [143]:
# 전처리가 끝난 배당수익률 컬럼은 제거합니다.
del df_in["배당수익률"]

In [144]:
df_in

      종목코드        배당수익률기간  배당수익률%
0   006110  배당수익률l2020.12    0.33
4   051490  배당수익률l2020.12    0.56
5   004490  배당수익률l2020.12    0.60
6   001530  배당수익률l2020.12    0.49
7   011790  배당수익률l2020.12    0.53
8   002710  배당수익률l2020.12    0.19
10  065350  배당수익률l2020.12    0.67
11  011500  배당수익률l2020.12    1.01
12  137400  배당수익률l2020.12    0.19
16  091580  배당수익률l2020.12    0.41
17  084850  배당수익률l2020.12    0.44
18  083930  배당수익률l2020.12    2.70
20  033160  배당수익률l2020.12    0.64
21  005490  배당수익률l2020.12    2.86
24  014820  배당수익률l2020.12    1.08
25  243840  배당수익률l2020.12    0.49
28  357780  배당수익률l2020.12    0.82
30  265560  배당수익률l2020.12    0.14
34  278280  배당수익률l2020.12    0.08
35  093920  배당수익률l2020.12    5.16
37  006650  배당수익률l2020.12    1.67
43  003670  배당수익률l2020.12    0.20
44  282880  배당수익률l2020.12    0.63
45  053080  배당수익률l2020.12    1.94
48  010130  배당수익률l2020.12    3.06
50  008730  배당수익률l2020.12    2.38
51  336370  배당수익률l2020.12    0.01
52  055490  배당수익률l2020.12    0.63
53  054090  배당수익률l2020.12    2.10
54  014680  배당수익률l2020.12    0.57
56  001390  배당수익률l2020.12    1.19
58  054210  배당수익률l2020.12    0.38
59  086520  배당수익률l2020.12    0.20
60  161000  배당수익률l2020.12    3.02
62  089980  배당수익률l2020.12    0.25
64  006400  배당수익률l2020.12    0.13
67  137940  배당수익률l2020.12    1.21
68  251630  배당수익률l2020.12    1.17
72  066970  배당수익률l2020.12    0.02
73  121600  배당수익률l2020.12    0.15
75  259630  배당수익률l2020.12    0.73
76  247540  배당수익률l2020.12    0.08
78  178920  배당수익률l2020.12    1.44
81  075970  배당수익률l2020.12    1.71
82  051910  배당수익률l2020.12    1.31
83  020150  배당수익률l2020.12    0.16
87  078600  배당수익률l2020.12    0.04
88  032560  배당수익률l2020.12    0.95

## merge 로 기존 데이터와 병합하기

<img src="https://pandas.pydata.org/docs/_images/08_merge_left.svg">

* concat과 merge의 차이
    * concat :  
        * axis=0 행을 기준으로 위아래로 **같은 컬럼끼리** 값을 이어 붙여 **새로운 행을 만듦**
        * axis=1 컬럼을 기준으로 **인덱스가 같은 값**을 옆으로 붙여 **새로운 컬럼을 만듦**
    * merge :
        * index 혹은 특정 컬럼 값을 기준으로 두 개의 데이터프레임을 연결
        
<img src="https://www.dofactory.com/img/sql/sql-joins.png">

* 이미지 출처 : https://www.dofactory.com/sql/join

In [145]:
df.shape

(92, 52)

In [146]:
# merge로 병합합니다.
# df와 df_pe를 병합니다. merge 전후 행과 열의 수를 확인해서 제대로 병합이 되었는지 확인합니다.
# df_merge_pe 에 할당합니다.
df_merge_pe = df.merge(df_pe, left_on="종목코드", right_on="종목코드", how="left")
df_merge_pe.head(1)

,종목명,현재가,전일비,등락률,매수호가,매도호가,거래량,거래대금,전일거래량,조회일자,종목명_전처리,종목코드,매출액,영업이익,당기순이익,영업이익률,순이익률,EPS(원)_x,PER(배)_x,BPS(원),PBR(배),시가총액,시가총액순위,상장주식수,액면가l매매단위,외국인한도주식수(A),외국인보유주식수(B),외국인소진율(B/A),투자의견l목표주가,52주최고l최저,PERlEPS(2021.09),추정PERlEPS,PBRlBPS (2021.09),배당수익률l2020.12,동일업종 PER,동일업종 등락률,PERlEPS(2021.06),PBRlBPS (2021.06),PERlEPS(2020.12),PBRlBPS (2020.12),코스피/코스닥,시가총액(억원),시가총액순위(전처리),52주최고,52주최저,52주차액,52주차액비율,현재-최고가,현재/최고가비율,목표주가,투자의견,매수매도,PERlEPS,PER(배)_y,EPS(원)_y
0,삼아알미늄,30500.0,2350.0,+8.35%,30400.0,30600.0,1335228.0,41433.0,419787.0,20211119,삼아알미늄,006110,663.0,45.0,NaN,6.79,NaN,NaN,NaN,10855.0,2.59,"3,355 억원",코스피 461위,11000000,500원 l 1주,11000000,3626830,32.97%,N/A l N/A,"45,600 l 8,400",32.94배 l 926원,N/A l N/A,"2.82배 l 10,809원",0.33%,11.56,+0.55%,NaN,NaN,NaN,NaN,코스피,3355,461,45600,8400,37200,5.428571,-15100.0,0.66886,NaN,NaN,NaN,PERlEPS(2021.09),32.94,926.0

In [148]:
df_merge_pe.shape

(92, 55)

In [149]:
# 위에서 병합한 데이터(df_merge_pe)에 PBRlBPS(df_pb) 데이터도 병합해 줍니다.
df_merge_pb = df_merge_pe.merge(df_pb, on="종목코드", how="left")
df_merge_pb.head(1)

,종목명,현재가,전일비,등락률,매수호가,매도호가,거래량,거래대금,전일거래량,조회일자,종목명_전처리,종목코드,매출액,영업이익,당기순이익,영업이익률,순이익률,EPS(원)_x,PER(배)_x,BPS(원)_x,PBR(배)_x,시가총액,시가총액순위,상장주식수,액면가l매매단위,외국인한도주식수(A),외국인보유주식수(B),외국인소진율(B/A),투자의견l목표주가,52주최고l최저,PERlEPS(2021.09),추정PERlEPS,PBRlBPS (2021.09),배당수익률l2020.12,동일업종 PER,동일업종 등락률,PERlEPS(2021.06),PBRlBPS (2021.06),PERlEPS(2020.12),PBRlBPS (2020.12),코스피/코스닥,시가총액(억원),시가총액순위(전처리),52주최고,52주최저,52주차액,52주차액비율,현재-최고가,현재/최고가비율,목표주가,투자의견,매수매도,PERlEPS,PER(배)_y,EPS(원)_y,PBRlBPS,PBR(배)_y,BPS(원)_y
0,삼아알미늄,30500.0,2350.0,+8.35%,30400.0,30600.0,1335228.0,41433.0,419787.0,20211119,삼아알미늄,006110,663.0,45.0,NaN,6.79,NaN,NaN,NaN,10855.0,2.59,"3,355 억원",코스피 461위,11000000,500원 l 1주,11000000,3626830,32.97%,N/A l N/A,"45,600 l 8,400",32.94배 l 926원,N/A l N/A,"2.82배 l 10,809원",0.33%,11.56,+0.55%,NaN,NaN,NaN,NaN,코스피,3355,461,45600,8400,37200,5.428571,-15100.0,0.66886,NaN,NaN,NaN,PERlEPS(2021.09),32.94,926.0,PBRlBPS (2021.09),2.82,10809.0

In [150]:
df_merge_pb.shape

(92, 58)

In [151]:
# 위에서 병합한 데이터(df_merge_pb)에 배당수익률(df_in) 데이터도 병합해 줍니다.
# df_final 이라는 변수에 담습니다.
df_final = df_merge_pb.merge(df_in, how="left")

In [152]:
df_final.shape

(92, 60)

In [153]:
df_final.head(1)

,종목명,현재가,전일비,등락률,매수호가,매도호가,거래량,거래대금,전일거래량,조회일자,종목명_전처리,종목코드,매출액,영업이익,당기순이익,영업이익률,순이익률,EPS(원)_x,PER(배)_x,BPS(원)_x,PBR(배)_x,시가총액,시가총액순위,상장주식수,액면가l매매단위,외국인한도주식수(A),외국인보유주식수(B),외국인소진율(B/A),투자의견l목표주가,52주최고l최저,PERlEPS(2021.09),추정PERlEPS,PBRlBPS (2021.09),배당수익률l2020.12,동일업종 PER,동일업종 등락률,PERlEPS(2021.06),PBRlBPS (2021.06),PERlEPS(2020.12),PBRlBPS (2020.12),코스피/코스닥,시가총액(억원),시가총액순위(전처리),52주최고,52주최저,52주차액,52주차액비율,현재-최고가,현재/최고가비율,목표주가,투자의견,매수매도,PERlEPS,PER(배)_y,EPS(원)_y,PBRlBPS,PBR(배)_y,BPS(원)_y,배당수익률기간,배당수익률%
0,삼아알미늄,30500.0,2350.0,+8.35%,30400.0,30600.0,1335228.0,41433.0,419787.0,20211119,삼아알미늄,006110,663.0,45.0,NaN,6.79,NaN,NaN,NaN,10855.0,2.59,"3,355 억원",코스피 461위,11000000,500원 l 1주,11000000,3626830,32.97%,N/A l N/A,"45,600 l 8,400",32.94배 l 926원,N/A l N/A,"2.82배 l 10,809원",0.33%,11.56,+0.55%,NaN,NaN,NaN,NaN,코스피,3355,461,45600,8400,37200,5.428571,-15100.0,0.66886,NaN,NaN,NaN,PERlEPS(2021.09),32.94,926.0,PBRlBPS (2021.09),2.82,10809.0,배당수익률l2020.12,0.33

## 사용하지 않는 컬럼 제거하기 drop

In [154]:
# l 구분자가 들어가는 컬럼명만 찾습니다.
del_cols = df_final.filter(regex="l").columns
del_cols

Index(['액면가l매매단위', '투자의견l목표주가', '52주최고l최저', 'PERlEPS(2021.09)', '추정PERlEPS',
       'PBRlBPS (2021.09)', '배당수익률l2020.12', 'PERlEPS(2021.06)',
       'PBRlBPS (2021.06)', 'PERlEPS(2020.12)', 'PBRlBPS (2020.12)', 'PERlEPS',
       'PBRlBPS'],
      dtype='object')

In [155]:
# 위에서 찾은 컬럼명을 drop으로 삭제합니다.
df_final = df_final.drop(del_cols, axis=1).copy()

In [156]:
# 결측치수가 많거나 중복된 컬럼이 있는지 확인합니다.
df_final.shape

(92, 47)

In [157]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92 entries, 0 to 91
Data columns (total 47 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   종목명          92 non-null     object
 1   현재가          92 non-null     float64
 2   전일비          92 non-null     float64
 3   등락률          92 non-null     object
 4   매수호가         92 non-null     float64
 5   매도호가         92 non-null     float64
 6   거래량          92 non-null     float64
 7   거래대금         92 non-null     float64
 8   전일거래량        92 non-null     float64
 9   조회일자         92 non-null     int64
 10  종목명_전처리      92 non-null     object
 11  종목코드         92 non-null     object
 12  매출액          30 non-null     float64
 13  영업이익         30 non-null     float64
 14  당기순이익        20 non-null     float64
 15  영업이익률        30 non-null     float64
 16  순이익률         20 non-null     float64
 17  EPS(원)_x     27 non-null     float64
 18  PER(배)_x     27 non-null     float64
 19  BPS(원)_x     14 non-null     float64
 20  PBR(배)_x     14 non-null     float64
 21  시가총액         92 non-null     object
 22  시가총액순위       92 non-null     object
 23  상장주식수        92 non-null     int64
 24  외국인한도주식수(A)  92 non-null     int64
 25  외국인보유주식수(B)  92 non-null     int64
 26  외국인소진율(B/A)  92 non-null     object
 27  동일업종 PER     92 non-null     float64
 28  동일업종 등락률     92 non-null     object
 29  코스피/코스닥      92 non-null     object
 30  시가총액(억원)     92 non-null     int64
 31  시가총액순위(전처리)  92 non-null     int64
 32  52주최고        92 non-null     int64
 33  52주최저        92 non-null     int64
 34  52주차액        92 non-null     int64
 35  52주차액비율      92 non-null     float64
 36  현재-최고가       92 non-null     float64
 37  현재/최고가비율     92 non-null     float64
 38  목표주가         31 non-null     float64
 39  투자의견         31 non-null     float64
 40  매수매도         31 non-null     object
 41  PER(배)_y     63 non-null     float64
 42  EPS(원)_y     90 non-null     float64
 43  PBR(배)_y     90 non-null     float64
 44  BPS(원)_y     90 non-null     float64
 45  배당수익률기간      48 non-null     object
 46  배당수익률%       48 non-null     float64
dtypes: float64(27), int64(9), object(11)
memory usage: 34.5+ KB

In [158]:
# 전처리한 컬럼은 원본 컬럼을 제거합니다.
del_cols2 = ['종목명_전처리', '시가총액', '시가총액순위', '배당수익률기간']

In [159]:
# del_cols2 를 제거합니다.
df_final = df_final.drop(del_cols2, axis=1)

In [160]:
# 컬럼명 중 필요없는 컬럼이 없는지 확인합니다.
df_final.columns

Index(['종목명', '현재가', '전일비', '등락률', '매수호가', '매도호가', '거래량', '거래대금', '전일거래량',
       '조회일자', '종목코드', '매출액', '영업이익', '당기순이익', '영업이익률', '순이익률', 'EPS(원)_x',
       'PER(배)_x', 'BPS(원)_x', 'PBR(배)_x', '상장주식수', '외국인한도주식수(A)',
       '외국인보유주식수(B)', '외국인소진율(B/A)', '동일업종 PER', '동일업종 등락률', '코스피/코스닥',
       '시가총액(억원)', '시가총액순위(전처리)', '52주최고', '52주최저', '52주차액', '52주차액비율',
       '현재-최고가', '현재/최고가비율', '목표주가', '투자의견', '매수매도', 'PER(배)_y', 'EPS(원)_y',
       'PBR(배)_y', 'BPS(원)_y', '배당수익률%'],
      dtype='object')

In [161]:
df_final.shape

(92, 43)

## CSV 파일로 저장하기

In [162]:
# 기존 파일명을 변경해서 새로 저장할 파일명을 만듭니다.
file_name

'upjong_no_35_2021-01-09.csv'

In [163]:
# 저장할 파일명을 만들어 줍니다.
# 기존 파일명에 _ver2 를 붙여줍니다.
final_file_name = file_name.replace(".csv", "_ver2.csv")
final_file_name

'upjong_no_35_2021-01-09_ver2.csv'

In [164]:
# final_file_name 변수에 있는 파일명으로 저장합니다.
df_final.to_csv(final_file_name, index=False)

In [165]:
# final_file_name 변수에 있는 값을 읽어옵니다.
# 이 때, 종목코드는 dtype={"종목코드":np.object} 로 불러옵니다.
pd.read_csv(final_file_name, dtype={"종목코드":np.object})

,종목명,현재가,전일비,등락률,매수호가,매도호가,거래량,거래대금,전일거래량,조회일자,종목코드,매출액,영업이익,당기순이익,영업이익률,순이익률,EPS(원)_x,PER(배)_x,BPS(원)_x,PBR(배)_x,상장주식수,외국인한도주식수(A),외국인보유주식수(B),외국인소진율(B/A),동일업종 PER,동일업종 등락률,코스피/코스닥,시가총액(억원),시가총액순위(전처리),52주최고,52주최저,52주차액,52주차액비율,현재-최고가,현재/최고가비율,목표주가,투자의견,매수매도,PER(배)_y,EPS(원)_y,PBR(배)_y,BPS(원)_y,배당수익률%
0,삼아알미늄,30500.0,2350.0,+8.35%,30400.0,30600.0,1335228.0,41433.0,419787.0,20211119,006110,663.0,45.0,NaN,6.79,NaN,NaN,NaN,10855.0,2.59,11000000,11000000,3626830,32.97%,11.56,+0.55%,코스피,3355,461,45600,8400,37200,5.428571,-15100.0,0.668860,NaN,NaN,NaN,32.94,926.0,2.82,10809.0,0.33
1,이녹스 *,31750.0,2200.0,+7.45%,30800.0,30900.0,92278.0,2856.0,102319.0,20211119,088390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9350844,9350844,75906,0.81%,7.13,+4.85%,코스닥,2969,329,32750,8250,24500,3.969697,-1000.0,0.969466,NaN,NaN,NaN,18.23,1742.0,2.00,15871.0,NaN
2,필옵틱스 *,11900.0,750.0,+6.73%,11600.0,11700.0,217951.0,2537.0,123689.0,20211119,161580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20698505,20698505,183252,0.89%,48.33,+1.30%,코스닥,2463,406,17000,8750,8250,1.942857,-5100.0,0.700000,NaN,NaN,NaN,NaN,-138.0,2.48,4793.0,NaN
3,이엔드디 *,32400.0,1800.0,+5.88%,32250.0,32400.0,168303.0,5428.0,109811.0,20211119,101360,281.0,32.0,24.0,11.39,8.54,233.0,130.08,NaN,NaN,10320383,10320383,75542,0.73%,14.55,-0.60%,코스닥,3344,291,44700,23250,21450,1.922581,-12300.0,0.724832,NaN,NaN,NaN,179.01,181.0,4.80,6751.0,NaN
4,나라엠앤디 *,8880.0,410.0,+4.84%,8810.0,8830.0,64342.0,566.0,54407.0,20211119,051490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14200000,14200000,65051,0.46%,59.92,-0.37%,코스닥,1261,782,14650,8390,6260,1.746126,-5770.0,0.606143,NaN,NaN,NaN,48.00,185.0,1.48,6000.0,0.56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,대주전자재료 *,114000.0,2700.0,-2.31%,115200.0,115400.0,274420.0,32072.0,606408.0,20211119,078600,511.0,56.0,NaN,10.96,NaN,252.0,429.41,NaN,NaN,15480593,15480593,2209877,14.28%,29.07,+0.40%,코스닥,17725,30,120600,33950,86650,3.552283,-6600.0,0.945274,120000.0,4.0,매수,159.25,719.0,18.06,6340.0,0.04
88,황금에스티,9160.0,240.0,-2.55%,9140.0,9160.0,96789.0,892.0,761625.0,20211119,032560,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16000000,16000000,223032,1.39%,11.56,+0.54%,코스피,1466,708,12100,6081,6019,1.989804,-2940.0,0.757025,NaN,NaN,NaN,7.11,1288.0,0.52,17709.0,0.95
89,스카이이앤엠 *,4495.0,120.0,-2.60%,4405.0,4410.0,139377.0,641.0,528788.0,20211119,131100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11642629,11642629,0,0.00%,14.55,-0.61%,코스닥,524,1332,12600,3565,9035,3.534362,-8105.0,0.356746,NaN,NaN,NaN,NaN,-1558.0,1.66,2716.0,NaN
90,켐트로스 *,15650.0,550.0,-3.40%,15550.0,15600.0,424550.0,6660.0,1420293.0,20211119,220260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26558307,26558307,336912,1.27%,14.55,-0.67%,코스닥,4143,221,19000,5390,13610,3.525046,-3350.0,0.823684,NaN,NaN,NaN,93.98,166.0,8.54,1827.0,NaN
91,지아이텍 *,25700.0,1200.0,-4.46%,25700.0,25750.0,114340.0,2974.0,1358686.0,20211119,382480,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7871428,7871428,8670,0.11%,72.16,-0.61%,코스닥,2019,508,38500,22500,16000,1.711111,-12800.0,0.667532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN